@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@300;400&display=swap');
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 120vh;
	background-color: hsl(233, 47%, 7%);
}
main {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content:flex-end;
	width: 90%;
	height: 100%; 
	border-radius: 10px;
	background-color: hsl(244, 38%, 16%);
}
.image {
	display: flex;
	position: relative;
	width: 100%;
}
img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.overlap {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	background-color: hsl(281, 98%, 26%); 
	opacity: 0.5;  
}
.presentation-container{
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
h1{
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	color: white;
	margin: 1rem 0 22px;
	width: 100%;
	text-align: center;
}
.span-text1{
	color: hsl(277, 64%, 61%);
}
.paragraph-1 {
	font-family: 'Lexend Deca', sans-serif;
	Font-size: 15px;
	font-weight: 300;
	text-align: center;
	line-height: 1.5rem;
	color: hsla(0, 0%, 100%, 0.75);
	margin: 3px 0 0;
	width: 100%;
}
.three-columns {
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	text-align: center;
	color: hsla(0, 0%, 100%, 0.75);
	-webkit-column-count: 1; /* Para navegadores webkit (Chrome, Safari) */
	-moz-column-count: 1; 
	column-count: 1;
	width: 72%;
	margin-top: 3rem;
}
.span-text2 {
	font-size: 23px;
	font-weight: 700;
	line-height: 2.6rem;
	color: white;
}

@media (min-width: 800px){
	body{
		min-height: 100vh;
	}
	main {
		flex-direction: row;
		width: 78%;
		height: 70vh;
		border-radius: 10px;
	}
	.presentation-container{
		width: 52%;
		height: 100%;
		justify-content: center;		
	}
	h1 {
		font-size: 35px;
		text-align:start;
		width: 70%;
	}
	.paragraph-1 {
		text-align:start;
		width: 70%;
	}
	.three-columns {
		text-align: start;
		margin-left: 1rem;
		-webkit-column-count: 3; /* Para navegadores webkit (Chrome, Safari) */
	    -moz-column-count: 3; 
	    column-count: 3;
	}
	.image {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48%;
		height: 100%;
	}
	img {
		width: 100%;
		height: 100%;
		border-radius: 0 10px 10px 0;
	}
	.overlap {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 0 10px 10px 0;
		background-color: hsl(281, 98%, 26%);
		opacity: 0.5; 
	}
}






















/*
.three-columns {
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.75);
	-webkit-column-count: 3; /* Para navegadores webkit (Chrome, Safari) */
	/* -moz-column-count: 3; 
	column-count: 3;
	width: 72%;
	margin-top: 3.3rem;
}
.span-text2 {
	font-size: 23px;
	font-weight: 700;
	line-height: 2.6rem;
	color: white;
}

.image {
	display: flex;
	width: 48%;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
}    */
/* @media (max-width: 800px) {
	body {
		height: 150vh;
	}
	
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		height: 120vh;
	}
	/* .presentation-container{
		width: 100%;
		height: 50%;
	}
	h1{
		font-size: 32px;
		text-align: center;
		width: 90%;
	}
	.paragraph-1 {
		text-align: center;
		width: 80%;
	}
	.three-columns {
		-webkit-column-count: 1; /* Para navegadores webkit (Chrome, Safari) */
		/* -moz-column-count: 1;  
		column-count: 1;
		text-align: center;
		margin-top: 1.5rem; */
	/* }
	 #imagen {
		width: 100%;
		
		display: flex;
		justify-content: center;
		background-color: rgb(0, 217, 255);
	 }
    img {
		max-width: 20rem;
		height: auto;
	}
	/* .overlap {
		
	} 
	 

	  
} */

/* .overlap {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: hsl(281, 98%, 26%);
	opacity: 0.5; 
	transition: all 0.5s;
}    
.overlap:hover {
	transition: all 1s;
	display: none;
} */


